{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    // turns off two ESLint core rules that unfortunately are problematic with prettier plugin – see the next section.
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  }
}
