{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {}
}
